<h2>
  Libraries
</h2>

{{#each library in model}}
  <div class="library">
    <div class="name">
      {{#link-to 'library' library }}{{library.name}}{{/link-to}}
    </div> 
    {{#each command in library.commands}}
      <div class="command">
        {{command.code}}
      </div>
    {{/each}}
  </div>
{{/each}}
