html, body {
  padding-top: 40px;
}

.library {
  margin-bottom: 10px;
}

.library .name {
  text-decoration: underline;
}

.command {
  margin: 0 0 0 10px;
}

#editor-canvas {
  width: 500px;
  height: 500px;
  border: 1px solid gray;
}

.editor-input {
  display: block;
  width: 500px;
}
